body{
  margin: 0;
  display: grid;
  grid-template-rows: 620px 500px 700px 500px;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: 
  "header"
  "main"
  "aside"
  "footern";
}

header{
  grid-area: header;
  background-image: url("Peach\ Flat\ &\ Minimalist\ Beauty\ Website.png");
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "H1"
  "text"
  "input-knapp";
}

h1{
  grid-area: H1;
  color: white;
   font-family: "Lucida Console", Monaco, monospace;
   text-align: center;
   margin-top: 200px;
}
p{
  grid-area: text;
  text-align: center;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0;
}

div{
    grid-area:input-knapp ;
    margin: 0 auto 220px auto;
}

input{
   max-width: 180px;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Lucida Console", Monaco, monospace;
}
button{
  min-width: 120px;
  min-height: 35px;
  background-color: #D77E5E;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  border-radius: 4px;
  
}
main{ 
  grid-area: main;
  background-color: #FADFD1;
}
aside{
  grid-area: aside;
  background-color: #D77E5E;
}

footer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "Kontaktaoss"
  "Omoxeyegroup"
  "socials";
  grid-area: footern;
  background-color:#FADFD1;
 
  padding-bottom: 10px;
}

footer a{
  color: #000000;
  }
#kontakta-oss{
  grid-area: Kontaktaoss;
}
#om-oxeyegroup{
  grid-area: Omoxeyegroup;
}
.socials{
  grid-area: socials;
}
footer h2{
  font-size: 30px;
  font-weight: 400;
}

Footer h3{
  font-weight: 400;
  font-size: 25px;
}

/* Storleksanpassning desktop */

 /* Footer expandering för desktop via flex */
 #grid-footer{
   display: flex;
   flex-grow: 1;

 }
  
#kontakta-oss{
  margin: auto;
}
  
 #om-oxeyegroup{  
   margin: auto;
 }

.socials{
  text-align: center;
}





