body{
  margin: 0;
  display: grid;
  grid-template-rows: 620px 500px 500px 500px;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: 
  "header"
  "main"
  "aside"
  "footern";
}

header{
  grid-area: header;
  background-image: url("Peach\ Flat\ &\ Minimalist\ Beauty\ Website.png");
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "H1"
  "text"
  "input-knapp";
}

h1{
  grid-area: H1;
  color: white;
   font-family: "Lucida Console", Monaco, monospace;
   text-align: center;
   margin-top: 200px;
}
p{
  grid-area: text;
  text-align: center;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0;
}

div{
    grid-area:input-knapp ;
    margin: 0 auto 220px auto;
}

input{
   max-width: 180px;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Lucida Console", Monaco, monospace;
}
button{
  min-width: 120px;
  min-height: 35px;
  background-color: #D77E5E;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  border-radius: 4px;
  
}
main{ 
  grid-area: main;
  background-color: #FADFD1;
}

h2{
  color:  #D77E5E;
   font-family: "Lucida Console", Monaco, monospace;
   text-align: center;
   margin-top: 50px;
}
#products{
  display: grid;
  grid-template-rows: 200px 200px ;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas: 
  "one two"
  "three four";
}

a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
    font-family: "Lucida Console", Monaco, monospace;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(255, 171, 157, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #ffab9d;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}

#one{
  grid-area: one; 
  text-decoration: none;
  color: #000000;
  border: none;
  margin-top: 100px;
}

#two{
  grid-area: two;
margin-top: 100px;
   text-decoration: none;
    color: #000000;
}
#three{
  grid-area: three;
  text-decoration: none;
  color: #000000;
margin-bottom: 100px;

}
#four{
  grid-area: four;
  text-decoration: none;
  color: #000000;
margin-bottom: 100px;
 
}

#products{
  
  font-size: 18px;

}

.brand{
  font-family: "Lucida Console", Monaco, monospace;
  padding-right: 20px;
  color: black;

}

aside{
  display: grid;
  grid-template-rows: 500px;
   grid-template-columns:1fr 1fr;
  grid-area: aside;
  background-color: #D77E5E;
}
#lipstick{
  display: left;
}

footer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "all-products"
  "about"
  "socials";
  grid-area: footern;
  background-color:#FADFD1;
 
  padding-bottom: 10px;
}

footer a{
  color: #000000;
  }
#all-products{
  grid-area: all-products;
}
#about{
  grid-area: about;
}
.socials{
  grid-area: socials;
}


/* Storleksanpassning desktop */

 /* Footer expandering för desktop via flex */
@media(min-width: 700px){

 footer{
   display: flex;
   flex-grow: 1;

 }
  
#all-products{
  margin: auto;
}
  
 #om-oxeyegroup{  
   margin: auto;
 }

.socials{
  text-align: center;
}


}

@media(max-width: 700px){
  img{ display: none;

  }
}